@import url('https://fonts.cdnfonts.com/css/optimus-princeps');

/* HEADER */

header{
    background-image: url('../IMG/dark-souls-II-wallpaper3.jpg');
   background-repeat: no-repeat;
  
    }

    nav{
        width: 100%;
        margin: 0 auto;
        background-color: rgb(32, 228, 107);
        position: sticky;
        top: 0px;
    }
    nav ul{
        list-style-type: none;
    }
    nav ul li{
        float: left;
        width: 25%;
        text-align: center;
        position: relative;
    }
    nav ul ::after{
        content: none;
        display: table;
        clear: both;
    }
    nav a{
        display: block;
        text-decoration: none;
        color: rgb(255, 117, 117);
        border-bottom: 2px solid transparent;
        padding: 10px 0px;
        font-family: 'OptimusPrinceps', sans-serif;
    
    }
    nav a:hover{
        color: rgb(70, 112, 236);
        border-bottom: 2px solid aqua;
    }
    .sous-menu{
        display: none;
        box-shadow: 0px 1px 2px rgb(216, 0, 43);
        background-color: rgba(179, 3, 3, 0.903);
        position: absolute;
        width: 100%;
        z-index: 1000;
    }
    nav > ul li:hover .sous-menu{
        display: block;
    }
    .sous-menu li{
        float: none;
        width: 100%;
        text-align: left;
    }
    .sous-menu a{
        padding: 10px;
        border-bottom: none;
    }
    .sous-menu a:hover{
        border-bottom: none;
        background-color: rgb(232, 14, 68);
    }
    .deroulant > a::after{
        content:"▼";
        font-size: 12px;
    }
    .menu{
        margin-top: 100px;
    }
    .majula-lore2{
        color: red;
        font-family: 'OptimusPrinceps', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 25px;
    }


    .d1{
        width: 576px;
        height: 432px;
        margin: 50px auto;
        box-shadow: 10px 15px 10px -5px #777;
        background-size: contain;
        animation: fondu 5s ease-in-out infinite both;
    }
    .div4{
        max-width: 576px;
        margin: 50px auto;
        margin-top: -200px;
    }
    
    .d1:hover{
        animation-play-state: paused;
    }
    @keyframes fondu{
        0%{
            background-image: url("../IMG/majula1.jpg");
            
        }
        33.33%{
            background-image: url("../IMG/majula2.jpg");
        }
        66.67%{
            background-image: url("../IMG/majula3.jpg");
        }
        100%{
            background-image: url("../IMG/majula4.jpg");
        }
    }

/* HEADER */

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 6; }
    .div2 { grid-area: 1 / 5 / 2 / 6; }
    .div3 { grid-area: 1 / 1 / 2 / 3; } 
    .div4 { grid-area: 2 / 2 / 3 / 5; } 
    .div5 { grid-area: 2 / 1 / 5 / 6; }
    .div6 { grid-area: 3 / 2 / 5 / 5; } 

    .div1{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
        width: auto;
    }

    .div2{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
        width: auto;
    }

.div5{
    margin-top: -830px;
    width: auto;
}

.div6{
    margin-top: -900px;
    display: flex;
    justify-content: center;
}


.parallax2 {
    background-image: url("../IMG/dk21.jpg");
  }
  .section-background {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 100%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 550px;
  }

  .fond-ecran2 img{
    width: 1520px;
    height: 800px;
    margin-top: 400px;
    margin-left: 1px;
    margin-top: -2px;
 
    
}

.majula-lore2{
    margin-top: -500px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:600px) {
    .bonefire{
        display: flex;
        margin-top: 40px;
        right: 0;
        height: 100px;
        width: 100px;
    }

}


  









